@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

p {
	color: black;
	font-size: 1.4rem;
	margin-bottom: 15px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.section-title {
	font-size: 4rem;
	/*font-weight: 300;*/
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
    border-radius: 30px;
	border:solid rgb(58, 12, 163);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.btn:hover {
	color: white;
	background-color: rgb(58, 12, 163);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: rgb(0, 150, 199);
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);

}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1400px;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
/* #header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
} */
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color:rgb(0, 150, 199);
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}

#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Home Section */
#home {

	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #0f4723 100%);
	z-index: -1;
}
#home .home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#home h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: white;
}
/* End Home section */

/* Challenge Section */ 
#challenge .challenge {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 100px;
}
.challenge p strong {
	font-weight: bold;
	text-align: center;
}
#challenge .challenge-top {
	max-width: 500px;
	margin: 0 auto;
}
#challenge .challenge-bottom {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: row;
	margin-top: 50px;
}
#challenge .challenge-item {
	flex-basis: 80%;
	display:flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction:column;
	padding: 15px;
	border-radius: 20px;
	background-size: cover;
	margin: 00px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#challenge .challenge-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #071c4b 0%, #0f4723 100%);
	opacity: 0.9;
	z-index: -1;
}
#challenge .challenge-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}

#challenge .section-text p {

	text-align: justify;
}

#challenge .challenge-item h2 {
	font-size: 3rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
	
}
#challenge .challenge-item p {
	color: white;
	text-align: center;
	font-size: 13px;
	
} 
/* End Challenge section

/* Award Section */
#award .award {
	flex-direction: column-reverse;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

/* #award .col-left {
	width: 250px;
	height: 360px;
}
#award .col-right {
	width: 100%; */
/* } */
#award .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-align: justify;
}
#award .col-right p h2 {
	margin-bottom: 20px;
	font-size: 1.5rem;
	padding-left: 100px;
	text-align: justify;
}

#award .col-right p {
	text-align: justify;
}
/* 
#award .col-left .award-img {
	height: 100%;
	width: 100%;
	position:relative;
	border: 10px solid white;
} */
/* #about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}  */
/* End Award Section */

/* Footer */
/* #footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
} */

:root {
	--color-neutral-0: #0c0c0c;
	--color-neutral-10: #171717;
	--color-neutral-30: #a8a29e;
	--color-neutral-40: #f5f5f5f5;
}

footer  {
	width: 100%;
	color: var(--color-neutral-40);
}

.footer-link {
	text-decoration: none;
}

#footer-content {
	background-color: var(--color-neutral-10);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 3rem 3.5rem;
}

#footer-contacts h1 {
	margin-bottom: 0.75rem;
}

#footer-contacts p {
	color: var(--color-neutral-30);
}


#footer-social-media {
	display:flex;
	gap: 2rem;
	margin-top: 1.5rem;
}

#footer-social-media .footer-link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 2.5rem;
	color: var(--color-neutral-40);
	border-radius: 50%;
	transition: all 0.4s;
}
#footer-social-media .footer-link i {
	font-size: 1.25rem;
}

#footer-social-media .footer-link:hover {
	opacity: 0.8;
} 

#instagram {
	background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
	background-color: #4267b3;
}

#whatsapp {
	background-color: #25d366;
}

.footer-list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	list-style: none;
}

.footer-list .footer-link {
	color: var(--color-neutral-30);
	transition: all 0.4s;
}

.footer-list .footer-link:hover {
	color: #7f37c9;
}

#footer-subscribe {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#footer-subscribe p {
	color: var(--color-neutral-30);
}

#input-group {
	display: flex;
	align-items: center;
	background-color: var(--color-neutral-0);
	border-radius: 4px;
}

#input-group input {
	all: unset;
	padding: 0.7rem;
	width: 100%;
}

#input-group button {
	background-color: #7f37c9;
	border: none;
	color: var(--color-neutral-40);
	padding: 0px 1.25rem;
	font-size: 1.125rem;
	height: 100%;
	border-radius: 0px 4px 4px 0px;
	cursor: pointer;
	transition: all 0.4s;
}

#input-group button:hover {
	opacity: 0.8;
}

#footer-copyrighy{
	display: flex;
	justify-content: center;
	background-color: var(--color-neutral-0);
	font-size: 0.9rem;
	padding: 1.5rem;
	font-weight: 100;
}

@media screen and (max-width: 768px){
	#footer-content {
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}
}

@media screen and (max-width: 426px){
	#footer-content {
		grid-template-columns: repeat(1, 1fr);
		padding: 3rem 2rem;
	}
}

/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.btn {
		font-size: 2.5rem;
		padding: 10px 60px;
	}
	.section-title h1 {
		font-size: 6rem;	
	}
	
	/* Home */
	#home h1 {
		font-size: 4rem;
	}
	/* End Home */

	/* Challenge Section */
	#challenge .challenge-bottom .challenge-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Challenge Section */

	/* Award */
	#award .award {
		flex-direction: row;
	}
	#award .col-left {
		width: 600px;
		height: 400px;
	}
	
	.col-right {
		padding-right: 100px;
	}
	#award.col-right {
		text-align: left;
		padding: 30px;
	}
	#award .col-right h1 {
		text-align: left;
	}
	/* End Award */

	/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}

	/* End header */

	#challenge .challenge-bottom .challenge-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
}
/* End  Media Query For Desktop */